.privacy-block {
    width: 100vw;
    max-width: 1240px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-block {
    padding-top: 182px;
    width: calc(100% - 40px);
    max-width: 1200px;
    height: max-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.content-block {
    max-width: 570px;
    display: flex;
    flex-direction: column;
}

.content-title {
    font-size: 40px;
    font-weight: 500;
    font-family: var(--roboto);
    font-style: normal;
    color: rgba(24, 24, 24, 1);
    line-height: 46.88px;
}

.content-description {
    margin-top: 30px;
    font-size: 20px;
    font-weight: 400;
    font-family: var(--roboto);
    font-style: normal;
    color: rgba(24, 24, 24, 1);
    line-height: 24.44px;
}

@media (max-width: 768px) {
    .title-block {
        padding-top: 108px;
        flex-direction: column;
    }
    .content-block {
        max-width: 100%;
    }
    .title-block img {
        width: 100%;
        height: auto;
    }
}

@media (max-width: 480px) {
    .content-title {
        font-size: 25px;
        line-height: 30px;
    }
    .content-description {
        margin-top: 10px;
        font-size: 15px;
        line-height: 17.58px;
    }
}
